@font-face {
  font-family: "Questrial", sans-serif;
  src: url("../fonts/Questrial-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Questrial", sans-serif;
  --nav-height: 50px;

  [data-theme="dark"] {
    --bg-color: #fff;
    --font-color: #121212;
  }

  [data-theme="dark"] {
    --bg-color: #121212;
    --font-color: #e0e0e0;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  nav {
    background-color: violet;
    position: sticky;
    top: 0;
    height: var(--nav-height);

    ul {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      list-style: none;

      li > a {
        color: var(--font-color);
        text-decoration: none;
      }

      /* padding: 1rem; */
    }
  }
  header {
    background-color: purple;

    #header-video {
      width: 100vw;
      height: calc(100vh - var(--nav-height));
      object-fit: cover;
      display: block;
    }
  }
  main {
    background-color: pink;
    flex: 1;
  }
  footer {
    background-color: orange;
    margin-top: auto;
  }
}
